<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" th:href="@{/font/fontawesome/css/all.css}"/>
  <link type="text/css" rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
  <link type="text/css" rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}"/>
  <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
  <link type="text/css" rel="stylesheet" th:href="@{/css/base.css}"/>
  <link type="text/css" rel="stylesheet" th:href="@{/css/index.css}"/>
  <link type="text/css" rel="stylesheet" th:href="@{/css/responsive.css}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <title>Giới thiệu</title>
</head>
<body>
   <header th:replace="fragment::header"></header>

   <section class="bread_crumb py-4">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <ul class="breadcrumb">
                  <li>
                     <a th:href="@{/trang-chu}"><span ><i class="fa fa-home"></i>My hotel</span></a>
                     <span><i class="fa fa-angle-right"></i></span>
                  </li>
                  <li>
                     <a th:href="@{/lien-he}">
                        <strong >Intro</strong>
                     </a>
                 </li>
               </ul>
            </div>
         </div>
      </div>
   </section>

   <section class="page">
     <div class="container">
       <div class="row">
         <div class="col-sm-12 col-md-12 col-lg-12">
           <div class="page-title category-title">
             <h1 class="title-head">
               <a href="javascript:void(0)">Giới thiệu</a>
             </h1>
           </div>
           <div class="content-page rte"></div>
           <p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">HLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
           <p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
           <p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est</p>
           <p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, ?</p>
           <p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
           <p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
           <p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
           <p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At</p>
           <p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,</p>
           <p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,</p>
           <p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
           <p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
         </div>
       </div>
     </div>
   </section>

   <section th:replace="fragment::footer-nav"></section>

   <footer th:replace="fragment::footer"></footer>

   <script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
   <script type="text/javascript" th:src="@{/js/all.js}"></script>
   <script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>