<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" th:href="@{/font/fontawesome/css/all.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/base.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/index.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/responsive.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <title>Book now</title>
</head>
<body class="common-home">

     <header th:replace="fragment::header"></header>

     <section class="bread_crumb py-4">
         <div class="container">
             <div class="row">
                 <div class="col-sm-12">
                     <ul class="breadcrumb">
                         <li>
                             <a th:href="@{/trang-chu}"><span ><i class="fa fa-home"></i>My hotel</span></a>
                             <span><i class="fa fa-angle-right"></i></span>
                         </li>
                         <li>
                             <a th:href="@{/login}">
                                 <strong >Book now</strong>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>
         </div>
     </section>

     <section class="page mb-4">
         <div class="container container-fix-hd contact margin-bottom-30">
             <div class="row">
                 <div class="clearfix"></div>
                 <div id="content" class="col-sm-12 col-xs-12 col-md-12">
                     <h3 class="title-head">
                         <span>Book now</span>
                     </h3>
                     <div class="row">
                         <div class="col-sm-12">
                             <div class="row">
                                 <div class="col-md-7">
                                     <div id = "login" class="mb-4">
                                         <form method = "post" enctype="multipart/form-data" id="room-type-booking-form">
                                             <p id="errorFills" style="margin-bottom:10px; color: red;"></p>
                                             <div id="emtry_contact" class="form-signup form_contact clearfix">
                                                 <div class="row row-8Gutter">
                                                     <input type="hidden" id="roomId" name="roomId" th:value="${room.id}"/>
                                                     <div class="col-md-6">
                                                         <fieldset class="form-group required">
                                                             <label for="customerName">Họ và tên</label>
                                                             <input type="text" placeholder="Tên của bạn" value="" name="customerName" id="customerName" class="form-control form-control-lg" required />
                                                         </fieldset>
                                                     </div>
                                                     <div class="col-md-6">
                                                         <fieldset class="form-group required">
                                                             <label for="customerPhone">Số điện thoại</label>
                                                             <input type="text" value="" placeholder="Số điện thoại" name="customerPhone" id="customerPhone" class="form-control form-control-lg" required>
                                                         </fieldset>
                                                     </div>
                                                 </div>
                                                 <div class="row row-8Gutter">
                                                     <div class="col-md-6">
                                                         <fieldset class="form-group required">
                                                             <label for="customerEmail">Email</label>
                                                             <input type="email" value="" placeholder="Địa chỉ Email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,63}$" data-validation="email"
                                                                    name="customerEmail" id="customerEmail" class="form-control form-control-lg" required>
                                                         </fieldset>
                                                     </div>
                                                     <div class="col-md-6">
                                                         <fieldset class="form-group required">
                                                             <label for="roomName">Số phòng</label>
                                                             <input disabled type="text" th:value="${room.roomName}" placeholder="Số phòng" name="roomName" id="roomName" class="form-control form-control-lg" required>
                                                         </fieldset>
                                                     </div>
                                                 </div>
                                                 <div class="row row-8Gutter">
                                                     <div class="col-md-6">
                                                         <fieldset class="form-group required">
                                                             <label for="roomPrice">Giá phòng</label>
                                                             <input disabled type="text" th:value="${room.currency}" placeholder="Giá phòng" name="roomPrice" id="roomPrice" class="form-control form-control-lg" required>
                                                         </fieldset>
                                                     </div>
                                                     <div class="col-md-6">
                                                         <fieldset class="form-group required">
                                                             <label for="roomTypeId">Loại phòng</label>
                                                             <select disabled id="roomTypeId" name="roomTypeId" class="form-control form-control-lg">
                                                                 <option value="${room.roomType.id}" selected>[[${room.roomType.roomTypeName}]]</option>
                                                             </select>
                                                         </fieldset>
                                                     </div>
                                                 </div>
                                                 <div class="row row-8Gutter">
                                                     <div class="col-md-6">
                                                         <fieldset class="form-group required">
                                                             <label for="checkInDate">Ngày check-in</label>
                                                             <input type="date" placeholder="dd/mm/yyyy" name="checkInDate" id="checkInDate" class="form-control form-control-lg" required>
                                                         </fieldset>
                                                     </div>
                                                     <div class="col-md-6">
                                                         <fieldset class="form-group required">
                                                             <label for="checkOutDate">Ngày check-out</label>
                                                             <input type="date" placeholder="dd/mm/yyyy" name="checkOutDate" id="checkOutDate" class="form-control form-control-lg" required>
                                                         </fieldset>
                                                     </div>
                                                 </div>
                                             </div>
                                         </form>
                                         <div>
                                             <button class="btn btn-primary" data-toggle="modal" data-target="#bookRoomModal">
                                                 Đặt phòng
                                             </button>
                                             <div class="modal fade" id="bookRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                 <div class="modal-dialog modal-dialog-centered" role="document">
                                                     <div class="modal-content">
                                                         <div class="modal-header">
                                                             <h5 class="modal-title" id="exampleModalLongTitle">[[${room.roomName}]]</h5>
                                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                 <span aria-hidden="true">&times;</span>
                                                             </button>
                                                         </div>
                                                         <div class="modal-body">
                                                             Bạn muốn đặt phòng [[${room.roomName}]] ?
                                                         </div>
                                                         <div class="modal-footer">
                                                             <button type="button" id="submit-booking-form" class="btn btn-success">Đồng ý</button>
                                                             <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-md-5">
                                     <div class="contact-box-info clearfix margin-bottom-30">
                                         <div>
                                             <div class="item">
                                                 <div class="d-flex align-items-center justify-content-center">
                                                    <img th:src="${room.imagePath}" width="80%" />
                                                 </div>
                                                 <div class="d-flex">
                                                     <div class="info">
                                                         <label>Room : </label>
                                                         <span style="font-size: 16px">[[${room.roomName}]]</span>
                                                     </div>
                                                 </div>
                                                 <div class="d-flex">
                                                     <div class="info">
                                                         <label>Status : </label>
                                                         <span style="font-size: 16px">[[${room.status}]]</span>
                                                     </div>
                                                 </div>
                                                 <div class="d-flex">
                                                     <div class="info">
                                                         <label>Service : </label></br>
                                                         <p style="font-size: 16px">
                                                             Air conditioner, TV, Fan, Water, Heater, Wifi, Fridge. The simplest room with minimal equipment. Small area, low floor, noview
                                                         </p>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>

     <section th:replace="fragment::footer-nav"></section>

     <footer th:replace="fragment::footer"></footer>

     <script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
     <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
     <script type="text/javascript" th:src="@{/js/all.js}"></script>
     <script type="text/javascript" th:src="@{/js/index.js}"></script>
     <script>
         $(function (){
             $("#submit-booking-form").click(function(){

                 // Get date value
                 let checkInDate = $("#checkInDate").val();
                 let checkOutDate = $("#checkOutDate").val();

                 if (new Date(checkOutDate) < new Date(checkInDate)){
                     $('.alert').remove();
                     $('.breadcrumb').after('<div class="mt-3 alert alert-danger"><strong>Vui lòng kiểm tra lại ngày check-in và check-out !</strong></div>');
                     $('html, body').animate({scrollTop: 0}, 'slow');
                     $('#bookRoomModal').modal('hide');
                 }else{
                     let bookForm = $('#room-type-booking-form').serializeArray();
                     let data = {};
                     $.each(bookForm, function (i, v) {
                         data[""+v.name+""] = v.value;
                     });
                     $.ajax({
                         url: '/hotel-demo/api/room/book-room',
                         type: 'POST',
                         contentType: 'application/json',
                         dataType : 'json',
                         data: JSON.stringify(data),
                         success: function (json) {
                             if (json['success']){
                                 $('.alert').remove();
                                 $('.breadcrumb').after('<div class="mt-3 alert alert-success"><strong>'+json["success"]+'</strong></div>');
                                 $('html, body').animate({scrollTop: 0}, 'slow');
                                 $('#bookRoomModal').modal('hide');
                             }
                             if (json['arror']){
                                 $('.alert').remove();
                                 $('.breadcrumb').after('<div class="mt-3 alert alert-danger"><strong>'+json["error"]+'</strong></div>');
                                 $('html, body').animate({scrollTop: 0}, 'slow');
                                 $('#bookRoomModal').modal('hide');
                             }
                         },
                         error: function (xhr, ajaxOptions, thrownError) {
                             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                         }
                     });
                 }
             });
         })


     </script>
</body>
</html>